/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* El tamaño del contenedor incluye hasta el borde */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* La altura de la línea es 1.7 veces la altura de la fuente */
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh; /* El header ocupa el 95% del alto del viewport */
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.7),
        rgba(40, 180, 133, 0.7)),
        url("../img/hero.jpg"); /* Imagen de fondo del contenedor con un degradado de color del primer color al segundo */
    background-size: cover; /* Escala la imagen al mayor tamaño posible sin estirarla */
    background-position: top; /* La imagen del fondo se muestra desde el principio hasta donde llegue */
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* Muestra el contenedor en forma de polígono definiendo los vértices */
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%; /* No ponemos el 50% porque el div padre no ocupa todo el viewport */
    left: 50%; /* Estamos trasladando desde el vértice izdo-arriba, por lo que queda descentrado */
    transform: translate(-50%, -50%); /* Trasladamos a la izda y arriba la mitad del ancho y del alto del div */
    /*
    Las tres primeras lineas cogen el vertice como punto de referencia en lugar
    del centro del div, por lo que se descentra el div al darle una
    posición absoluta y un porcentaje de posición.
    Es por eso que hacemos translate con porcentajes, que toman
    como medida el div
    */
}

.heading-primary {
    color: #FFF;
    text-transform: uppercase;

    backface-visibility: hidden; /* Se usa para evitar la sacudida en la animación */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* Hacer que el texto aparezca con un fade-in desde la izda y rebotando */
    animation-name: moveInLeft; /* Nombre de la animación creada bajo */
    animation-duration: 1s; /* Duración de la animación */
    /*animation-delay: 3s; Cuánto tarda en empezar la animación */
    /*animation-iteration-count: 3; Cuántas veces se repite la animación */
    animation-timing-function: ease-out; /* Empieza rápido y acaba lento */
    /*animation-timing-function: ease-in; Empieza lento y acaba rápido */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;

    animation: moveInRight 1s ease-out; /* Se puede juntar todo en una propiedad */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}